.grid {
  display: flex;
  gap: 20px;
  padding: 50px;
}

.list {
  display: block;
}

.grid-card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
}

.list-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
