<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> <%= %></h2>

    <table border="1" cellpadding="10">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
    </tr>

    <% products.forEach(u => { %>
      <tr>
        <td><%= u.id %></td>
        <td><%= u.name %></td>
        <td>₹ <%= u.price %></td>
      </tr>
    <% }) %>
  </table>
</body>
</html>
