.play-card {
  padding:20px; border-radius:20px; text-align:center; cursor:pointer; transition:0.3s;
}
.play-card:hover { transform:translateY(-8px); box-shadow:0 10px 25px rgba(0,0,0,0.2); }
.icon-circle {
  background:white; width:70px; height:70px; border-radius:50%;
  display:flex; justify-content:center; align-items:center;
  margin:auto; box-shadow:0 4px 10px rgba(0,0,0,0.1);
}
.icon-circle img { width:35px; }
