<!DOCTYPE html>
<html>
<head>
  <title>Students</title>
</head>
<body>

<h2>Students List</h2>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
  </tr>

  <% students.forEach(student => { %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.Profile?.address %></td>
      <td><%= student.Profile?.phone %></td>
    </tr>
  <% }) %>

</table>

</body>
</html>
